Flask==2.3.2
gunicorn==20.1.0
pymongo==4.5.0  # O la versión más reciente disponible
Werkzeug==2.3.6
Jinja2==3.1.2
MarkupSafe==2.1.3
itsdangerous==2.1.2
click==8.1.6
psycopg2-binary==2.9.7  # Solo si usas PostgreSQL
Flask-SQLAlchemy==3.0.5  # Solo si usas SQLAlchemy para manejar la base de datos
Flask-Migrate==4.0.4     # Solo si usas Flask-Migrate para migraciones de base de datos