body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

nav ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* nav ul li:hover {
    scale: 1.1;
} */

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    margin: 10px 0 5px;
}

input[type="text"], input[type="submit"], select {
    width: 90%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e53935;
}

.per_asis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;

}

.eliminar_per {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.eliminar_per input[type="submit"] {
    width: 30%;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.per_asis .nombre_per {
    margin-right: 10px;
}

table {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

table, th, td {

}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #bdbdbd;
    border: 1px solid #ddd;
}

.lista {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    border: 1px solid #ddd;
}


@media (max-width: 900px) {

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 10px;
    }
    
    nav ul li a {
        display: block;
        margin: 0;
        padding: 10px;
    }

    ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    ul li form {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
